<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021500470015-feiad4ttvc6q2465d6vmqijdhehq6dmg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021500470015-feiad4ttvc6q2465d6vmqijdhehq6dmg</string>
	<key>API_KEY</key>
	<string>AIzaSyAQd3mCQ8e14TOKwOGqpYRFcU7M85EGCds</string>
	<key>GCM_SENDER_ID</key>
	<string>1021500470015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.athena</string>
	<key>PROJECT_ID</key>
	<string>athena-development-53c47</string>
	<key>STORAGE_BUCKET</key>
	<string>athena-development-53c47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021500470015:ios:eb0a5da02d11e0cb3512ca</string>
	<key>DATABASE_URL</key>
	<string>https://athena-development-53c47.firebaseio.com</string>
</dict>
</plist>